{% load i18n %}
<div class="col-xs-4"></div>
<div class="col-xs-4"></div>
<div class="col-xs-4">
	<nav class="navbar navbar-default footer navbar-fixed-bottom">
		<div class="container">
	  		<div class="row">
	    		<div class="col-xs-2">
					<a href="http://{{ LANGUAGE_CODE }}.wikipedia.org/wiki/Pastebin" title="What does a Pastebin app mean">
					<i class="fa fa-newspaper-o fa-2x"></i>{% trans "Про сайт:"%}</a>
	    		</div>	
	    		<div class="col-xs-2">
	    			<a href="https://github.com/andyfuse"><i class="fa fa-git-square fa-2x"></i>andyfuse</a>
	    		</div>
	    	</div>	
	    </div>				
	</nav>
</div>